/sandbox/
**/__pycache__/
**/.ipynb_checkpoints/

experiments/data_processing/090226_building_world_preprocessing/notebooks/adelaide_eda.ipynb
/.vscode
/experiments/demo/030226_worker/ca.pem
/experiments/demo/030226_worker/client.pem
/experiments/demo/170326_procedural_worker/certs
/experiments/demo/200226_mock_worker/certs
/experiments/demo/200226_mock_worker/data
/experiments/demo/170326_procedural_worker/data
/experiments/demo/200326_sample_worker/data
/experiments/demo/260126_worker/ca.pem
/experiments/demo/260126_worker/client.pem

env_trellis.yml
env_trellis_init.yml
env_massing.yml
debug.log

/road-corridors.csv

/experiments/benchmarks/coma/metrics_validation/archive
